.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 25px;
  color: darkslateblue;
  cursor: pointer;
}

.button:hover {
  color: darkred;
  transition: 0.5s;
}

.button:disabled {
  color:rgb(128, 132, 136);
  cursor: initial;
}