.item {
  background-color: rgba(240, 255, 255, 0.108);
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.completedItem {
  background-color: rgba(81, 87, 87, 0.108);
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: gray;
  text-decoration: line-through;
}

.icon {
  width: 20px;
  height: 20px;
  padding: 0 10px;
}

.icon:hover {
  cursor: pointer;
}

.completedItem .icon {
  color: gray;
}

.completeIcon {
  width: 20px;
  height: 20px;
  padding: 0 10px;
  color: green;
}

.completeIcon:hover {
  cursor: pointer;
}