.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px;
  height: 100%;
  background-color: rgb(39, 23, 84);
  color: azure;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
}

.buttonWrapper {
  width: 30px;
  height: 30px;
  padding: 0 10px;
}

.buttonWrapper:hover {
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 10px;
}